.Button {
	/* background-color:#0033BB; */
	padding: 5px;
	text-align:center;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border:0px;
	margin:5px 15px;
	box-shadow: 5px 5px 10px grey;
	cursor: pointer;
}

.Button * {
	vertical-align:middle;
}

.Button img{
	max-height: 48px;
}

.Button.clicked {
	box-shadow: 1px 5px 10px grey;
}